.basket-icon {
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;

  .count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: $color-primary;
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: $font-weight-bold;
  }
}

