* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-bg;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

